html, * {
    margin: 0;
    padding: 0;

    // border: 0.1px solid white;
}


ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $white;
}

body {
    height: 100%;
    background-color: $background;
}